{% extends 'base.html' %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<h1>This is the profile for {{user.first_name}} {{user.last_name}}</h1>
<p>Username: {{user.username}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>

<a href="/users/{{user.username}}/delete" class="text-danger">Delete User</a>
<a href="/users/{{user.username}}/feedback/add">Give Feedback</a>

<div>
    <h2>Feedback given:</h2>
    {% for feedback in feedbacks %}
    <div class="card my-4">
      <div class="card-body">
        <h5 class="card-title text-info">
          {{feedback.title}}
          {% if session['username'] == feedback.username %}
          <form style="display:inline;" action="/feedback/{{feedback.id}}/update" method="POST">
            <button class="btn btn-sm btn-warning"><i class="fas fa-pencil"></i></button>
          </form>
          <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
            <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
          </form>
          {% endif %}
        </h5>
        <p class="card-text">
          {{feedback.content}}
        </p>
  
      </div>
    </div>
  
    {%  endfor %}
  </div>

{% endblock %}